
<!-- start Heading Part -->
<div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
         
          <app-sidebaar></app-sidebaar>
      
      </div>
      <div class="col-md-10 PageBody">
         <!-- Start Body Part -->
         
        <!-- Start Heaer Part of Rier Setting -->
        <div class="headerIcon">
          <div class="filter">
              <div tabLink>
                  <a class="tablink nav-link" (click)="openPage('filter', $event)" [ngClass]="{'active': currentTab === 'filter'}"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 100 512 312"><path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg></a>
              </div>
              <p>{{filter}}</p>
          </div>
          <div class="userIcon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 100 448 312"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
              <p>{{user}}</p>
          </div>
      </div>
      
      <div class="filterDetails">
          <div id="filter" class="tabcontent" [hidden]="currentTab !== 'filter'">
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-3">
                          <label for="branch">Branch:</label>
                          <select class="form-control" [(ngModel)]="Branchid">
                            <option [value]="0" selected>All Branches</option>
                              <option *ngFor="let branch of branchList" [value]="branch.BranchID">{{ branch.Title }}</option>
                          </select>
                      </div>
                      <div class="col-md-3">
                          <label for="branch">Status:</label>
                          <select class="form-control" [(ngModel)]="ID">
                              <option *ngFor="let status of statusList" [value]="status.ID">{{ status.RIDERSTATUS }}</option>
                          </select>
                      </div>
                  </div>
              </div>
      
              <br>
              <div class="col-md-12">
               
                  <div class="col-md-1 float-end">
                      <button class="rest">Reset</button>
                  </div>
                  <div class=" col-md-1 float-end">
                    <button class="filter" (click)="applyFilter()">Filter</button>
                  </div>
              </div><br><br>
          </div>
      </div>
      <!-- End Header Part of Rider Setting       -->

         <div class="DetailsTbl col-md-12">
          <h4>Rider Setting</h4>
  
                  <!-- Start Table Part -->
                  <div class="overflow">
                      <table class="table table-sm table-hover data-table" id="datatableexample">
                      <thead>
                        <tr style="background-color: #716ACA !important;">
                          <td>First Nam</td>
                          <td>Middle Name</td>
                          <td>Last Name</td>
                          <td>Contact Number</td>
                          <td>Branch</td>
                          <td>Status</td>
                          <td>Update</td>
                        </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of setting">
                      <td>{{ item.FirstName }}</td>
                      <td>{{ item.MiddleName }}</td>
                      <td>{{ item.LastName }}</td>
                      <td>{{ item.CellNumber }}</td>
                      <td>{{ item.BranchName }}</td>
                      <td>
                        <select name="" id=""><option *ngFor="let status of statusList">{{ status.RIDERSTATUS }}</option></select>
                        
                        <!-- <select name="" id="">
                          <option value="">
                            {{ 
                              item.RiderStatus === 1 ? 'Offline' : 
                              item.RiderStatus === 2 ? 'Break' :
                              item.RiderStatus === 3 ? 'In Progress' :
                              item.RiderStatus === 4 ? 'Assigned' :
                              item.RiderStatus === 5 ? 'Free' :
                              item.RiderStatus === 6 ? 'Returning':
                              'Null'
                            }}
                          </option>
                          <option value="">{{item.RiderStatus}}</option>
                        </select> -->
                    </td>
                      <td><button>Update Rider</button></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                    <!-- End Table Part -->
        </div>
  
         <!-- End Body Part -->
      </div>
    </div>
  </div>