<!-- start Heading Part -->
<div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
          <app-sidebaar></app-sidebaar>
      </div>
      <div class="col-md-10 PageBody">
         <!-- Start Body Part -->
         <div class="headerIcon">
            <div class="filter">
                <div tabLink>
                    <a class="tablink nav-link" (click)="OpenPage('filter', $event)" [ngClass]="{'active': CurrentTab === 'filter'}"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 100 512 312"><path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg></a>
                </div>
                <p>{{filter}}</p>
            </div>
            <div class="userIcon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 100 448 312"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                <p>{{user}}</p>
            </div>
        </div>
        
        <div class="filterDetails">
            <div id="filter" class="filtertabcontent" [hidden]="CurrentTab !== 'filter'">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="branch">Branch:</label>
                            <select class="form-control" [(ngModel)]="Branchid">
                                <option [value]="0" selected>All Branches</option>
                                <option *ngFor="let branch of branchList" [value]="branch.BranchID">{{ branch.Title }}</option>
                            </select>
                        </div>
                        
                    </div>
                </div>
        
                <br>
                <div class="col-md-12">
                    <div class=" col-md-1 float-end">
                        <button class="filter" (click)="loadList()" (click)="loadOrerList()">Filter</button>
                    </div>
                </div><br><br>
            </div>
        </div>        

         <!-- Start Map scale Value Part -->
         <div class="mapScal">

            <!-- 1-Transactions Table start -->
            <table>
                <thead><tr><th colspan="2">Transactions</th></tr></thead>
                <tbody>
                    <tr class="scale" >
                        <td>{{ OrderMap?.TotalTransactions ?? 0}}</td>
                        <td>{{ OrderMap?.CancelTransactions ?? 0}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>Canceled</td>
                    </tr>
                </tbody>
            </table>
            <!-- 2-Sales Table start -->
            <table>
                <thead><tr><th colspan="2">Sales</th></tr></thead>
                <tbody>
                    <tr class="scale">
                        <td>{{ OrderMap?.TotalSales ?? 0}}</td>
                        <td>{{ OrderMap?.CancelSales ?? 0}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>Canceled</td>
                    </tr>
                </tbody>
            </table>
                        <!-- 3-store time Table start -->
                        <table>
                            <thead><tr><th colspan="2">In store time</th></tr></thead>
                            <tbody>
                                <tr class="scale">
                                    <td>{{ OrderMap?.InStoreTimeAvg ?? 0}}</td>
                                    <td>{{ OrderMap?.InStoreTimeLess10 ?? 0}}</td> 
                                    <td>{{ OrderMap?.InStoreTimeGreater10 ?? 0}}</td>                                   
                                </tr>
                                <tr>
                                    <td>AVG</td>
                                    <td>10 M</td>
                                    <td>+10 M</td>
                                </tr>
                            </tbody>
                        </table>
                                    <!-- 4-Drive Time Table start -->
            <table>
                <thead><tr><th colspan="2">Drive Time</th></tr></thead>
                <tbody>
                    <tr class="scale">
                        <td>{{ OrderMap?.DriveTimeAvg ?? 0}}</td>
                        <td>{{ OrderMap?.DriveTimeLess10 ?? 0}}</td> 
                        <td>{{ OrderMap?.DriveTimeGreater10 ?? 0}}</td>                                   
                    </tr>
                    <tr>
                        <td>AVG</td>
                        <td>10 M</td>
                        <td>+10 M</td>
                    </tr>
                </tbody>
            </table>
                        <!-- 5-SOS Table start -->
                        <table>
                            <thead><tr><th colspan="2">SOS</th></tr></thead>
                            <tbody>
                                <tr class="scale">
                                    <td>{{ OrderMap?.SOSAvg ?? 0}}</td>
                                    <td>{{ OrderMap?.SOSLess30 ?? 0}}</td> 
                                    <td>{{ OrderMap?.SOSGreater30 ?? 0}}</td>                                   
                                </tr>
                                <tr>
                                    <td>AVG</td>
                                    <td>30 m</td>
                                    <td>+30 m</td>
                                </tr>
                            </tbody>
                        </table>
                                    <!-- 6-Multiple Dispatched Table start -->
            <table>
                <thead><tr><th colspan="2" style="padding-left: 0px !important;font-size: 14px;">Multiple Dispatched</th></tr></thead>
                <tbody>
                    <tr class="scale">
                        <td>{{ OrderMap?.MultipleDispatch1 ?? 0}}</td>
                        <td>{{ OrderMap?.MultipleDispatch2 ?? 0}}</td> 
                        <td>{{ OrderMap?.MultipleDispatch3 ?? 0}}</td>                                   
                    </tr>
                    <tr>
                        <td>1X</td>
                        <td>2X</td>
                        <td>3X+</td>
                    </tr>
                </tbody>
            </table>
         </div>
         <!-- Start Map Scale Value Part -->

        <!-- Start Map Riders Part -->
         <div class="DetailsTbl col-md-12">
          <div class="overflow">
            <div class="mapTv">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.005245148182!2d73.0106508!3d33.6943601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbe14da7f2dd1%3A0xcbeecb4d8d4414b2!2sKFC!5e0!3m2!1sen!2suk!4v1646005222159!5m2!1sen!2suk" width="100%" height="530" style="border:0;" loading="lazy"></iframe>
            </div>
            <div class="mapDetails">
                <div tabLink>
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="tablink nav-link" (click)="openPage('Lead', $event)" [ngClass]="{'active': currentTab === 'Lead'}">Assigned {{assignedOrders.length}}</a>
                      </li>
                      <li class="nav-item">
                        <a class="tablink nav-link" (click)="openPage('Login', $event)" [ngClass]="{'active': currentTab === 'Login'}">Unassigned {{unassignedOrders.length}}</a>
                      </li>
                      <li class="nav-item">
                        <a class="tablink nav-link" (click)="openPage('Location', $event)" [ngClass]="{'active': currentTab === 'Location'}">Delayed {{delayedOrders.length}}</a>
                      </li>
        
                      <li class="nav-item">
                        <a class="tablink nav-link" (click)="openPage('Details', $event)" [ngClass]="{'active': currentTab === 'Details'}">In Progress {{dispatchedOrders.length}}</a>
                      </li>
                    </ul>
                  </div>

                  <div id="Lead" class="tabcontent" [hidden]="currentTab !== 'Lead'">
                    <table>
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Driver</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of assignedOrders">
                                <td>{{ item.OrderNo }}</td>
                                <td>{{ item.RiderFirstName }}</td>
                                <td>{{ item.Amount }}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                  </div>

                  <div id="Login" class="tabcontent" [hidden]="currentTab !== 'Login'">
                    <table>
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Driver</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of unassignedOrders">
                                <td>{{ item.OrderNo }}</td>
                                <td>{{ item.RiderFirstName }}</td>
                                <td>{{ item.Amount }}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>

                  <div id="Location" class="tabcontent" [hidden]="currentTab !== 'Location'">
                    <table>
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Driver</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of delayedOrders">
                                <td>{{ item.OrderNo }}</td>
                                <td>{{ item.RiderFirstName }}</td>
                                <td>{{ item.Amount }}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>

                  <div id="Details" class="tabcontent" [hidden]="currentTab !== 'Details'">
                    <table>
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Driver</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dispatchedOrders">
                                <td>{{ item.OrderNo }}</td>
                                <td>{{ item.RiderFirstName }}</td>
                                <td>{{ item.Amount }}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                  <br>
                  <table class="table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Cell No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- // Free Rider data received -->
                        <tr *ngFor="let item of FreeRiderStatus">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.Status}}</td>
                            <td>{{item.CellNumber}}</td>
                        </tr>
                        <!-- // Returning Rider data received -->
                        <tr *ngFor="let item of ReturningRiderStatus">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.Status}}</td>
                            <td>{{item.CellNumber}}</td>
                        </tr> 
                        <!-- // InProgress Rider data received -->
                        <tr *ngFor="let item of InprogressRiderStatus">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.Status}}</td>
                            <td>{{item.CellNumber}}</td>
                        </tr>
                        <!-- // Branch Break Rider data received -->
                        <tr *ngFor="let item of BreakBranchRiderStatus">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.Status}}</td>
                            <td>{{item.CellNumber}}</td>
                        </tr>
                        <!-- // Delay Rider data received -->
                        <tr *ngFor="let item of DelayedRiderStatus">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.Status}}</td>
                            <td>{{item.CellNumber}}</td>
                        </tr>
                        <!-- // Offline Rider data received -->
                        <!-- <tr *ngFor="let item of OfflineRiderStatus">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.Status}}</td>
                            <td>{{item.CellNumber}}</td>
                        </tr> -->
                    </tbody>
                </table>

            </div>
          </div>
         </div>
         <!-- Start Map Riders Part -->
      </div>
    </div>
</div>