<!-- start Heading Part -->
<div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
          <app-sidebaar></app-sidebaar>
      </div>
      <div class="col-md-10 PageBody">
         <!-- Start Body Part -->
         <div class="headerIcon">
            <div class="filter">
                <div tabLink>
                    <a class="tablink nav-link" (click)="OpenPage('filter', $event)" [ngClass]="{'active': CurrentTab === 'filter'}"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 100 512 312"><path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg></a>
                </div>
                <p>{{filter}}</p>
            </div>
            <div class="userIcon">
                <app-user></app-user>
            </div>
        </div>
        
        <div class="filterDetails">
            <div id="filter" class="filtertabcontent" [hidden]="CurrentTab !== 'filter'">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="branch">Branch:</label>
                            <select class="form-select" [(ngModel)]="Branchid">
                                <option [value]="0" selected>All Branches</option>
                                <option *ngFor="let branch of branchList" [value]="branch.BranchID" (change)="BranchinfoList(Branchid)">{{ branch.Title }}</option>
                            </select>
                        </div>
                        
                    </div>
                </div>
        
                <br>
                <div class="col-md-12">
                    <div class=" col-md-1 float-end">
                        <button class="filter" (click)="loadList()" (click)="loadOrerList()" (click)="BranchinfoList(Branchid)">Filter</button>
                    </div>
                </div><br><br>
            </div>
        </div>        

         <!-- Start Map scale Value Part -->
         <div class="mapScal">

            <!-- 1-Transactions Table start -->
            <table>
                <thead><tr><th colspan="2">Transactions</th></tr></thead>
                <tbody>
                    <tr class="scale" >
                        <td>{{ OrderMap?.TotalTransactions ?? 0}}</td>
                        <td>{{ OrderMap?.CancelTransactions ?? 0}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>Canceled</td>
                    </tr>
                </tbody>
            </table>
            <!-- 2-Sales Table start -->
            <table>
                <thead><tr><th colspan="2">Sales</th></tr></thead>
                <tbody>
                    <tr class="scale">
                        <td>{{ OrderMap?.TotalSales?? 0| number}}</td>
                        <td>{{ OrderMap?.CancelSales?? 0 | number}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>Canceled</td>
                    </tr>
                </tbody>
            </table>
                        <!-- 3-store time Table start -->
                        <table>
                            <thead><tr><th colspan="2">In store time</th></tr></thead>
                            <tbody>
                                <tr class="scale">
                                    <td>{{ OrderMap?.InStoreTimeAvg ?? 0}}</td>
                                    <td>{{ OrderMap?.InStoreTimeLess10 ?? 0}}</td> 
                                    <td>{{ OrderMap?.InStoreTimeGreater10 ?? 0}}</td>                                   
                                </tr>
                                <tr>
                                    <td>AVG</td>
                                    <td>10 M</td>
                                    <td>+10 M</td>
                                </tr>
                            </tbody>
                        </table>
                                    <!-- 4-Drive Time Table start -->
            <table>
                <thead><tr><th colspan="2">Drive Time</th></tr></thead>
                <tbody>
                    <tr class="scale">
                        <td>{{ OrderMap?.DriveTimeAvg ?? 0}}</td>
                        <td>{{ OrderMap?.DriveTimeLess10 ?? 0}}</td> 
                        <td>{{ OrderMap?.DriveTimeGreater10 ?? 0}}</td>                                   
                    </tr>
                    <tr>
                        <td>AVG</td>
                        <td>10 M</td>
                        <td>+10 M</td>
                    </tr>
                </tbody>
            </table>
                        <!-- 5-SOS Table start -->
                        <table>
                            <thead><tr><th colspan="2">SOS</th></tr></thead>
                            <tbody>
                                <tr class="scale">
                                    <td>{{ OrderMap?.SOSAvg ?? 0}}</td>
                                    <td>{{ OrderMap?.SOSLess30 ?? 0}}</td> 
                                    <td>{{ OrderMap?.SOSGreater30 ?? 0}}</td>                                   
                                </tr>
                                <tr>
                                    <td>AVG</td>
                                    <td>30 m</td>
                                    <td>+30 m</td>
                                </tr>
                            </tbody>
                        </table>
                                    <!-- 6-Multiple Dispatched Table start -->
            <table>
                <thead><tr><th colspan="2" style="padding-left: 0px !important;font-size: 14px;">Multiple Dispatched</th></tr></thead>
                <tbody>
                    <tr class="scale">
                        <td>{{ OrderMap?.MultipleDispatch1 ?? 0}}</td>
                        <td>{{ OrderMap?.MultipleDispatch2 ?? 0}}</td> 
                        <td>{{ OrderMap?.MultipleDispatch3 ?? 0}}</td>                                   
                    </tr>
                    <tr>
                        <td>1X</td>
                        <td>2X</td>
                        <td>3X+</td>
                    </tr>
                </tbody>
            </table>
         </div>
         <!-- Start Map Scale Value Part -->

        <!-- Start Map Riders Part -->
         <div class="DetailsTbl col-md-12">
          <div class="overflow">
            <div class="mapTv">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.005245148182!2d73.0106508!3d33.6943601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbe14da7f2dd1%3A0xcbeecb4d8d4414b2!2sKFC!5e0!3m2!1sen!2suk!4v1646005222159!5m2!1sen!2suk" width="100%" height="530" style="border:0;" loading="lazy"></iframe>
                <!-- <div id="map" style="width: 100%; height: 700px; position: relative;" class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0">
                    <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(-48px, 0px, 0px);">
                        <div class="leaflet-pane leaflet-tile-pane">
                            <div class="leaflet-layer " style="z-index: 1; opacity: 1;">
                                <div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 18; transform: translate3d(330px, 35px, 0px) scale(1);">
                                    <img alt="" role="presentation" src="https://c.tile.openstreetmap.org/13/5762/3267.png" class="leaflet-tile leaflet-tile-loaded" style="width: 512px; height: 512px; transform: translate3d(-32px, 62px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="https://b.tile.openstreetmap.org/13/5762/3266.png" class="leaflet-tile leaflet-tile-loaded" style="width: 512px; height: 512px; transform: translate3d(-32px, -450px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="https://b.tile.openstreetmap.org/13/5761/3267.png" class="leaflet-tile leaflet-tile-loaded" style="width: 512px; height: 512px; transform: translate3d(-544px, 62px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="https://a.tile.openstreetmap.org/13/5763/3267.png" class="leaflet-tile leaflet-tile-loaded" style="width: 512px; height: 512px; transform: translate3d(480px, 62px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="https://a.tile.openstreetmap.org/13/5762/3268.png" class="leaflet-tile leaflet-tile-loaded" style="width: 512px; height: 512px; transform: translate3d(-32px, 574px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="https://a.tile.openstreetmap.org/13/5761/3266.png" class="leaflet-tile leaflet-tile-loaded" style="width: 512px; height: 512px; transform: translate3d(-544px, -450px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="https://c.tile.openstreetmap.org/13/5763/3266.png" class="leaflet-tile leaflet-tile-loaded" style="width: 512px; height: 512px; transform: translate3d(480px, -450px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="https://c.tile.openstreetmap.org/13/5761/3268.png" class="leaflet-tile leaflet-tile-loaded" style="width: 512px; height: 512px; transform: translate3d(-544px, 574px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="https://b.tile.openstreetmap.org/13/5763/3268.png" class="leaflet-tile leaflet-tile-loaded" style="width: 512px; height: 512px; transform: translate3d(480px, 574px, 0px); opacity: 1;">
                                </div>
                                <div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 17; transform: translate3d(0px, 1px, 0px) scale(2);">
                                </div>
                            </div>
                        </div>
                        <div class="leaflet-pane leaflet-shadow-pane"></div>
                        <div class="leaflet-pane leaflet-overlay-pane"></div>
                        <div class="leaflet-pane leaflet-marker-pane">
                            <img src="./assets/demo/default/media/img/logo/kfc_icon.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="" tabindex="0" style="transform: translate3d(550px, 210px, 0px); z-index: 210;">
                            <img src="./assets/demo/default/media/img/logo/icon-02.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="" tabindex="0" style="transform: translate3d(550px, 208px, 0px); z-index: 208;">
                            <img src="./assets/demo/default/media/img/logo/icon-02.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="" tabindex="0" style="transform: translate3d(486px, 364px, 0px); z-index: 364;">
                            <img src="./assets/demo/default/media/img/logo/icon-02.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="" tabindex="0" style="transform: translate3d(547px, 206px, 0px); z-index: 206;">
                            <img src="./assets/demo/default/media/img/logo/icon-07.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="" tabindex="0" style="transform: translate3d(550px, 209px, 0px); z-index: 209;">
                            <img src="./assets/demo/default/media/img/logo/icon-07.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="" tabindex="0" style="transform: translate3d(550px, 209px, 0px); z-index: 209;">
                            <img src="./assets/demo/default/media/img/logo/icon-07.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="" tabindex="0" style="transform: translate3d(550px, 209px, 0px); z-index: 209;">
                            <img src="./assets/demo/default/media/img/logo/icon-07.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="" tabindex="0" style="transform: translate3d(550px, 209px, 0px); z-index: 209;">
                        </div>
                        <div class="leaflet-pane leaflet-tooltip-pane"></div>
                        <div class="leaflet-pane leaflet-popup-pane">
                            <div class="leaflet-popup  leaflet-zoom-animated" style="opacity: 1; transform: translate3d(550px, 209px, 0px); bottom: -7px; left: -58px;">
                                <div class="leaflet-popup-content-wrapper">
                                    <div class="leaflet-popup-content" style="width: 76px;">
                                        <b>Haseeb Shah</b><br>03241702320
                                    </div>
                                </div>
                                <div class="leaflet-popup-tip-container">
                                    <div class="leaflet-popup-tip"></div>
                                </div><a class="leaflet-popup-close-button" href="#close">×</a>
                            </div>
                            </div>
                            <div class="leaflet-proxy leaflet-zoom-animated" style="transform: translate3d(2.95029e+06px, 1.67296e+06px, 0px) scale(8192);">
                            </div>
                        </div>
                        <div class="leaflet-control-container">
                            <div class="leaflet-top leaflet-left">
                                <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                                    <a class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in">+</a>
                                    <a class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button" aria-label="Zoom out">−</a>
                                </div>
                            </div>-->
                            <!-- <div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"><div class="leaflet-control-attribution leaflet-control"><a href="https://leafletjs.com" title="A JS library for interactive maps">Leaflet</a></div></div></div></div> -->
            </div> 
            <div class="mapDetails">
                <div tabLink>
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="tablink nav-link" (click)="openPage('Lead', $event)" [ngClass]="{'active': currentTab === 'Lead'}">Assigned {{assignedOrders.length}}</a>
                      </li>
                      <li class="nav-item">
                        <a class="tablink nav-link" (click)="openPage('Login', $event)" [ngClass]="{'active': currentTab === 'Login'}">Unassigned {{unassignedOrders.length}}</a>
                      </li>
                      <li class="nav-item">
                        <a class="tablink nav-link" (click)="openPage('Location', $event)" [ngClass]="{'active': currentTab === 'Location'}">Delayed {{delayedOrders.length}}</a>
                      </li>
        
                      <li class="nav-item">
                        <a class="tablink nav-link" (click)="openPage('Details', $event)" [ngClass]="{'active': currentTab === 'Details'}">In Progress {{dispatchedOrders.length}}</a>
                      </li>
                    </ul>
                  </div>

                  <div id="Lead" class="tabcontent" [hidden]="currentTab !== 'Lead'">
                    <table>
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Driver</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of assignedOrders">
                                <td>{{ item.OrderNo }}</td>
                                <td>{{ item.RiderFirstName }}</td>
                                <td>{{ item.Amount }}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                  </div>

                  <div id="Login" class="tabcontent" [hidden]="currentTab !== 'Login'">
                    <table>
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Driver</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of unassignedOrders">
                                <td>{{ item.OrderNo }}</td>
                                <td>{{ item.RiderFirstName }}</td>
                                <td>{{ item.Amount }}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>

                  <div id="Location" class="tabcontent" [hidden]="currentTab !== 'Location'">
                    <table>
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Driver</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of delayedOrders">
                                <td>{{ item.OrderNo }}</td>
                                <td>{{ item.RiderFirstName }}</td>
                                <td>{{ item.Amount }}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>

                  <div id="Details" class="tabcontent" [hidden]="currentTab !== 'Details'">
                    <table>
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Driver</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dispatchedOrders">
                                <td>{{ item.OrderNo }}</td>
                                <td>{{ item.RiderFirstName }}</td>
                                <td>{{ item.Amount }}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                  <br>
                  <table class="table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Cell No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- // Free Rider data received -->
                        <tr *ngFor="let item of FreeRiderStatus">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.Status}}</td>
                            <td>{{item.CellNumber}}</td>
                        </tr>
                        <!-- // Returning Rider data received -->
                        <tr *ngFor="let item of ReturningRiderStatus">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.Status}}</td>
                            <td>{{item.CellNumber}}</td>
                        </tr> 
                        <!-- // InProgress Rider data received -->
                        <tr *ngFor="let item of InprogressRiderStatus">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.Status}}</td>
                            <td>{{item.CellNumber}}</td>
                        </tr>
                        <!-- // Branch Break Rider data received -->
                        <tr *ngFor="let item of BreakBranchRiderStatus">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.Status}}</td>
                            <td>{{item.CellNumber}}</td>
                        </tr>
                        <!-- // Delay Rider data received -->
                        <tr *ngFor="let item of DelayedRiderStatus">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.Status}}</td>
                            <td>{{item.CellNumber}}</td>
                        </tr>
                        <!-- // Offline Rider data received -->
                        <!-- <tr *ngFor="let item of OfflineRiderStatus">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.Status}}</td>
                            <td>{{item.CellNumber}}</td>
                        </tr> -->
                    </tbody>
                </table>

            </div>
          </div>
         </div>
         <!-- Start Map Riders Part -->
         <div class="DetailsTbl col-md-12">
            <!-- google-maps-demo.component.html -->
            <!-- <google-map height="400px"
                width="750px"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="moveMap($event)"
                (mapMousemove)="move($event)">
            </google-map> -->
            <app-googlemap></app-googlemap>
         </div>

         <div class="miniRider">
            <div class="imagsum">
                <p style="font-weight:bold; font-size:10px;">
                    {{ (ReturningRiderStatus?.length ?? 0) +
                       (FreeRiderStatus?.length ?? 0) +
                       (InprogressRiderStatus?.length ?? 0) +
                       (BreakBranchRiderStatus?.length ?? 0) +
                       (AssignRiderStatus?.length ?? 0) +
                       (DelayedRiderStatus?.length ?? 0) }}
                </p>
                <img src="../assets/Images/4.png" alt="Mini Rider" style="width: 10px; height:10px; margin-top: -50px;">
                <p style="margin-top: -30px; font-weight: bold; font-size: 10px;">Riders</p>
            </div>
            <div class="imagicon">
                <p>{{ReturningRiderStatus?.length ?? 0}}</p>
                <img src="../assets/Images/4.png" alt="Mini Rider" style="width: 25px; height:25px;">
                <p style="margin-top: -12px;">Returning</p>
            </div>
            <div class="imagicon">
                <p>{{FreeRiderStatus?.length ?? 0}}</p>
                <img src="../assets/Images/2.png" alt="Mini Rider" style="width: 25px; height:25px;">
                <p style="margin-top: -12px;">Free</p>      
            </div>
            <div class="imagicon">
                <p>{{InprogressRiderStatus?.length ?? 0}}</p>
                <img src="../assets/Images/7.png" alt="Mini Rider" style="width: 25px; height:25px;">
                <p style="margin-top: -12px;">In Progress</p>
            </div>
            <div class="imagicon">
                <p>{{BreakBranchRiderStatus?.length ?? 0}}</p>
                <img src="../assets/Images/5.png" alt="Mini Rider" style="width: 25px; height:25px;">
                <p style="margin-top: -12px;">Break</p>
            </div>
            <div class="imagicon">
                <p>{{AssignRiderStatus?.length ?? 0}}</p>
                <img src="../assets/Images/3.png" alt="Mini Rider" style="width: 25px; height:25px;">
                <p style="margin-top: -12px;">Assign</p>
            </div><div class="imagicon">
                <p>{{DelayedRiderStatus?.length ?? 0}}</p>
                <img src="../assets/Images/1.png" alt="Mini Rider" style="width: 25px; height:25px;">
                <p style="margin-top: -12px;">Delay</p>
            </div><div class="imagicon">
                <p>{{OfflineRiderStatus?.length ?? 0}}</p>
                <img src="../assets/Images/6.png" alt="Mini Rider" style="width: 25px; height:25px;">
                <p style="margin-top: -12px;">Offline</p>
            </div>

        </div>
          
      </div>
    </div>
</div>