
<!-- start Heading Part -->
<div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
          <app-sidebaar></app-sidebaar>   
      </div>
      <div class="col-md-10 PageBody">
         <!-- Start Body Part -->
        
         <div class="headerIcon">
          <div class="filter">
              <div tabLink>
                  <a class="tablink nav-link" (click)="openPage('filter', $event)" [ngClass]="{'active': currentTab === 'filter'}"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 100 512 312"><path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg></a>
              </div>
              <p>{{filter}}</p>
          </div>
          <div class="userIcon">
            <app-user></app-user>
          </div>
      </div>
      <div class="filterDetails">
        <div id="filter" class="tabcontent" [hidden]="currentTab !== 'filter'">
            <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <label for="branch">Branch:</label>
                    <select class="form-select" [(ngModel)]="Branchid">
                      <option [value]="0" selected>All Branches</option>
                        <option *ngFor="let branch of branchList" [value]="branch.BranchID">{{ branch.Title }}</option>
                    </select>
                </div>
                    <div class="col-md-4">
                        <label for="">From Date : </label>
                        <input type="date" class="form-control" [(ngModel)]="SrtartDat">
                    </div>
                    <div class="col-md-4">
                        <label for="">To Date :</label>
                        <input type="date" class="form-control" [(ngModel)]="EndDate">
                    </div>
                </div>
            </div>
            <br>
            <!-- <p>{{Branchid}}</p> -->
            <div class="col-md-12">
                <div class=" col-md-1 float-end">
                    <button class="filter" (click)="loadList()">Filter</button>
                </div>
            </div><br><br>
        </div>
    </div>
    
        <div class="row accounttbls">
          <!-- <div  class="DetailsTbl" [ngClass]="{'col-md-12': ordersDetails.length === 0, 'custom-width': ordersDetails.length > 0}"> -->
            <div class="DetailsTbl" [ngClass]="{'col-md-12': ordersDetails.length === 0 && !showDetails, 'custom-width': ordersDetails.length > 0 && showDetails}">
 
            <h4>Accounts</h4>
            <!-- Start Table Part -->
            <div class="overflow">
                <table class="table table-sm table-hover data-table" id="datatableexample">
                    <thead>
                        <tr style="background-color: #716ACA !important;">
                            <td>Rider Name</td>
                            <td>Branch</td>
                            <td>Total Orders</td>
                            <td>Total Amount</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody *ngIf="orders.length > 0">
                        <tr *ngFor="let item of orders" >
                            <td>{{ item.RiderFirstName}}</td>
                            <td>{{ item.BranchName}}</td>
                            <td>{{ item.DeliveryOrderID}}</td>
                            <td>{{item.Amount}}</td>
                            <td> 
                              <button (click)="DetailsloadList(item.BranchRiderId); toggleDetails()">Details</button>
                          </td>
                            <!-- <td> <button  (click)="DetailsloadList(item.BranchRiderId); toggleDetails()">Details</button></td> -->
                            <td> <button type="button" #btnAlert (click)="openModal()">Trace Log</button></td>                 
                        </tr>
                    </tbody>
                    <tbody *ngIf="orders.length === 0">
                        <tr>
                            <th colspan="6" style="text-align: center;">No Data Available</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End Table Part -->
        </div>
        
        <!-- <div class="AccountingDetails col-md-4" [hidden]=" ordersDetails.length === 0 || showDetails"> -->
          <div class="AccountingDetails col-md-4" [hidden]="!showDetails">
          <div class="col-md-12 detailheading" >
            <h4>Details</h4>
            <button (click)="showDetails = !showDetails">
              <span style="color: #716ACA; font-weight: bold;">O</span>ut<span style="color: brown; font-weight: bold;"> ~></span>
            </button> 
          </div>
          
          <table class="table table-hover">
            <thead>
              <tr style="background-color: #716ACA !important;">
                <td>Order No</td>
                <td>Name</td>
                <td>Total Amount</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ordersDetails">
                <td>{{item.OrderNo}}</td>
                <td>{{item.FirstName}}</td>
                <td>{{item.Amount}}</td>
            </tr>
            </tbody>
          </table>
         </div>
        </div>
         <!-- End Body Part -->
      </div>
    </div>
  </div>


  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="height: 100vh;">
      <div class="modal-content" style="border: 2px solid lightblue">
        <div class="modal-header">
          <h4 class="modaltitle" id="staticBackdropLabel">Trace Log</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button> 
        </div>
        <div class="modalbody">
          <h4 class="modaltitle" id="staticBackdropLabel"> Admin Log</h4>
          <table>
            <thead>
            <tr>
              <th>Entry By</th>
              <th>Event</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ali</td>
              <td>View Order Details</td>
              <td>05:25 AM</td>
            </tr>
            <tr>
              <td>Ali</td>
              <td>View Order Details</td>
              <td>05:25 AM</td>
            </tr>
          </tbody>
        </table>
        <h4 class="modaltitle" id="staticBackdropLabel">Auto assign Log</h4>
        <table>
          <thead>
          <tr>
            <th>Action</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Search in radius 100m</td>
            <td>05:25 AM</td>
          </tr>
          <tr>
            <td>1 Driver found.</td>
            <td>05:25 AM</td>
          </tr>
          <tr>
            <td>Notification send to Muhanmmad</td>
            <td>05:25 AM</td>
          </tr>
        </tbody>
      </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-sm" data="modal">Save Change</button>
        </div>
      </div>
    </div>
  </div>