

<!-- start Heading Part -->
<div class="col-md-12">
  <div class="row">
    <div class="col-md-2">
        <app-sidebaar></app-sidebaar>
    </div>
    <div class="col-10 PageBody">
       <!-- Start Body Part -->
       <div class="header">
        <div>
          <div class="headerIcon">
              <div class="filter">
                  <div tabLink>
                      <a class="tablink nav-link" (click)="OpenPage('filter', $event)" [ngClass]="{'active': CurrentTab === 'filter'}"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 100 512 312"><path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg></a>
                  </div>
                  <p>{{filter}}</p>
              </div>
              <div class="userIcon">
                  <app-user></app-user>
              </div>
          </div>
          
          <div class="filterDetails">
              <div id="filter" class="tabcontent" [hidden]="CurrentTab !== 'filter'">
                  <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-3">
                          <label for="branch">Branch:</label>
                          <select class="form-select" [(ngModel)]="Branchid" (change)="fetchBranchRider(Branchid)">
                            <option [value]="0" selected>All Branches</option>
                              <option *ngFor="let branch of branchList" [value]="branch.BranchID">{{ branch.Title }}</option>
                          </select>
                      </div>
                          <div class="col-md-3">
                              <label for="">Name : </label>
                              <input type="text" class="form-control">
                          </div>
                          <div class="col-md-3">
                              <label for="">Contact No:</label>
                              <input type="number" class="form-control">
                          </div>
                          <div class="col-md-3">
                              <label for="">Order No:</label>
                              <input type="number" class="form-control">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-3">
                              <label for="branch">Status:</label>
                              <select id="branch" class="form-select"  [(ngModel)]="value">
                                  <option value='1'>Assigned</option>
                                  <option value='2'>Cancel</option>
                                  <option value='3'>Done</option>
                                  <option value='4'>In Process</option>
                                  <option value='5'>Unassigned</option>
                              </select>
                          </div>
                          <div class="col-md-3">
                              <label for="branch">Driver:</label>
                              <select id="branch" class="form-select" [(ngModel)]="BranchRideriD">
                                <option [value]="0" >All Riders</option>
                                <option *ngFor="let rider of branchRider; let first = first" [value]="rider.BranchRiderID" [selected]="first">{{rider.FirstName}} {{rider.LastName}}</option>
                              </select>
                          </div>
                          <div class="col-md-3">
                            <label for="">From Date : </label>
                            <input type="date" class="form-control" [(ngModel)]="SrtartDat">
                        </div>
                        <div class="col-md-3">
                            <label for="">To Date :</label>
                            <input type="date" class="form-control" [(ngModel)]="EndDate">
                        </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6"></div>
                          <div class="col-md-3">
                              <label for="time"> </label>
                              <input type="time" class="form-control" [(ngModel)]="SrtartTime">
                          </div>
                          <div class="col-md-3">
                              <label for="time"> </label>
                              <input type="time" class="form-control" [(ngModel)]="EndTime">
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class="col-md-12">
                      <div class="col-md-1 float-end">
                          <button class="rest" (click)="resetForm()" >Reset</button>
                      </div>
                      <div class=" col-md-1 float-end">
                        <button class="filter" (click)="loadList(); fetchBranchRider(Branchid)">Filter</button>
                        <!-- <button class="filter" (click)="loadList()" (click)="fetchBranchRider()" >Filter</button> //This method use in Filter button if need => (click)="SingleOrerloadList()" -->
                    </div>
                  </div><br><br>
              </div>
          </div>
      </div>
       </div>
       <div class="DetailsTbl">
        <h4>Order List</h4>
        <div class="orderFirmate">
          <div><p><span>{{list.length}}</span> Orders</p></div>
            
          <div> <select class="form-select select-form" [(ngModel)]="selectedSortOption" (change)="sortData()">
            <option value="Order_asc">Order Id asc</option>
            <option value="Order_desc">Order Id desc</option>
            <option value="Rider_asc">Driver asc</option>
            <option value="Rider_desc">Driver desc</option>
            <option value="Date_asc">Creation Date asc</option>
            <option value="Date_desc" selected>Creation Date desc</option>
        </select></div>
           <div style="width: 20%;">
          <div class="row">
            <label style="width: 40%;">
            Page size:
          </label>
        <select [(ngModel)]="pageSize" class="form-select" style="width: 50%;">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="40">40</option>
              <option value="100">100</option>
        </select>
       </div>
      </div>
                     
        </div>
        <div class="orderFirmate" >
          <p><span>{{list.length}}</span> Orders {{SrtartDat}} 10:00 AM to {{EndDate}} 9:59 AM</p>
          <br>
        </div>
        <div class="Detailslist col-md-12">
          <div class="justify">
<div class="overflow orderlisttbl" [ngClass]="{'col-xl-12 col-sm-12': OrderDetail.OrderStatus === null && !showDetails, 'col-xl-8 col-sm-12': OrderDetail.OrderStatus != null && showDetails}">
  <table class="table table-sm table-hover data-table" id="datatableexample">
      <thead>
          <tr style="background-color: #716ACA !important;">
              <td></td>
              <td>Order No</td>
              <td>Status</td>
              <td>Date</td>
              <td>Time</td>
              <td>Customer</td>
              <td>Address</td>
              <td>Dispatch By</td>
              <td>Driver</td>
              <td>Remaining Time</td>
              <td></td>
          </tr>
      </thead>
      <tbody *ngIf="list.length > 0">
          <!-- <tr *ngFor="let item of list"> -->
            <tr *ngFor="let item of list | slice:0:pageSize">
              <td> <button (click)="SingleOrerloadList(item.DeliveryOrderID); toggleDetails()">Details</button></td>
              <td>{{ item.OrderNo }}</td>
              <td>{{ item.OrderStatus}}</td>
              <td>{{ item.BookedTime | date:'shortDate' }}</td>
              <td>{{ item.BookedTime | date:'shortTime' }}</td>
              <td>{{ item.FirstName }}</td>
              <td>{{ item.AddressLine1 }}</td>
              <td>{{ item.DispatchBy }}</td>
              <td>{{ item.RiderFirstName }}</td>
              <td>{{ item.RemainingMinuts }}</td>
              <td> <button type="button" #btnAlert (click)="openModal()">Trace Log</button></td>                 
          </tr>

      </tbody>
      <tbody *ngIf="list.length === 0">
        <tr >
          <th colspan="10" style="text-align: center;">No data Available.</th>
        </tr>
      </tbody>
  </table>
</div>
                  <!-- End Table Part -->
                  <br><br>
                <div class="col-xl-4 col-sm-12 map overflow" [hidden]="!showDetails">
                  <div class="mapDetails">
                    <div class="col-md-12 detailheading" >
                      <p></p>
                      <button (click)="showDetails = !showDetails">
                        <span style="color: #716ACA; font-weight: bold;">O</span>ut<span style="color: brown; font-weight: bold;"> ~></span>
                      </button> 
                    </div>
                  <div tabLink>
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="tablink nav-link" (click)="openPage('Lead', $event)" [ngClass]="{'active': currentTab === 'Lead'}"><b>Order Details</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="tablink nav-link" (click)="openPage('Login', $event)" [ngClass]="{'active': currentTab === 'Login'}"><b>Trace Log</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="tablink nav-link" (click)="openPage('Location', $event)" [ngClass]="{'active': currentTab === 'Location'}"><b>Items</b></a>
                      </li>
                    </ul>
                  </div>
                    <!-- Embed Google Maps iframe with the given location URL filterDetails -->
                    <div id="Lead" class="tabcontent detailcontant" [hidden]="currentTab !== 'Lead'">
                      <div class="mapDetails">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.005245148182!2d73.0106508!3d33.6943601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbe14da7f2dd1%3A0xcbeecb4d8d4414b2!2sKFC!5e0!3m2!1sen!2suk!4v1646005222159!5m2!1sen!2suk" width="100%" height="300px" style="border:0;" loading="lazy"></iframe>
                          <div class="col-md-12 customrdetail" [hidden]="OrderDetail.OrderStatus === null">
                          <br>
                            <div class="col-md-6">
                            <label for="">Status</label>
                            <select name="" id="" class="form-control">
                              <option>{{OrderDetail.OrderStatus}}</option>
                            </select>
                          </div>
                          
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-6">
                              <label for="">Order</label>
                              <select name="" id="" class="form-control">
                                <option>{{OrderDetail.OrderNo}}</option>
                              </select>
                            </div>
                            <div class="col-md-6">
                              <label for="">Driver</label>
                              <select name="" id="" class="form-control">
                                <option>{{OrderDetail.RiderFirstName}} {{OrderDetail.RiderLastName}}</option>
                              </select>
                            </div>
                          </div>
                          </div>
                         
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-6">
                              <label for="">Payment Type</label>
                              <select name="" id="" class="form-control">
                                <option>{{OrderDetail.Payment}}</option>
                              </select>
                            </div>
                            <div class="col-md-6">
                              <label for="">Amount</label>
                              <select name="" id="" class="form-control">
                                <option>{{OrderDetail.Amount}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <br>
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-4">
                                <p>{{ formatTime(OrderDetail.BookedTime) }}</p>
                            </div>
                              <div class="col-md-4">
                                <label for="">{{OrderDetail.BranchName}}</label>
                                <p>{{OrderDetail.BranchCity}}</p>
                              </div>
                              <div class="col-md-4">
                                <p style="color: red;">0 h: {{OrderDetail.EstimatedTime}} min</p>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-4">
                                <p>{{ formatTime(OrderDetail.ExptectedDeliveryTime) }}</p>
                            </div>
                              <div class="col-md-8">
                                <label for=""><b>{{OrderDetail.FirstName}} {{OrderDetail.LastName}}</b></label>
                                <p>{{OrderDetail.AddressLine1}} {{OrderDetail.AddressLine2}}</p>
                              </div>
                            </div>
                          </div>
                          <br>
                        </div>
                      </div>
                    </div>

                    <div id="Login" class="tabcontent" [hidden]="currentTab !== 'Login'">
                      <div [hidden]="OrderDetail.OrderStatus === null">
                      <table id="datatableexample">
                        <thead>
                            <tr>
                                <td>Create At</td>
                                <td>Driver Assign</td>
                                <td>Delivered At</td>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ OrderDetail.BookedTime }}</td>
                            <td>{{ OrderDetail.BookedTime }}</td>
                            <td>{{ OrderDetail.BookedTime }}</td>
                          </tr>
                        </tbody>
                        
                    </table>
                    <h3>Admin Log</h3>
                    <table id="datatableexample">
                      <thead>
                          <tr>
                              <td>Enter By</td>
                              <td>Event</td>
                              <td>Time</td>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let aitem of adminlog">
                           <td>{{aitem.UserName}}</td>
                          <td>{{aitem.EventLog}}</td>
                          <td>{{formatTime(aitem.CreatedDate)}}</td>
                      </tr>
                      </tbody>
                  </table>
                  <h3>Auto Assign Log</h3>
                  <table id="datatableexample">
                    <thead>
                        <tr>
                            <td>Action</td>
                            <td>Date</td>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let asitem of assignlog">
                         <td>{{asitem.ACTION}}</td>
                         <td>{{ formatTime(asitem.CD) }}</td>
                    </tr>
                    </tbody>
                </table>
              </div>
                    </div>

                    <div id="Location" class="tabcontent" [hidden]="currentTab !== 'Location'">
                      <div [hidden]="OrderDetail.OrderStatus === null">
                      <table id="datatableexample">
                          <thead>
                              <tr>
                                  <td>Name</td>
                                  <td>Amount</td>
                                  <td>Count</td>
                                  <td>Bar Code</td>
                              </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let Sitem of SingleOrder">
                               <td>{{Sitem.Description}}</td>
                              <td>{{Sitem.MenuPrice}}</td>
                              <td>{{Sitem.Quantity}}</td>
                              <td>{{Sitem.pos_itemCode}}</td>  
                          </tr>
                          </tbody>
                      </table>
                    </div>
                    </div>

                </div>
                </div>
          </div>
        </div>
       <!-- End Body Part -->
    </div>
  </div>
  </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="height: 100vh;">
    <div class="modal-content" style="border: 2px solid lightblue">
      <div class="modal-header">
        <h4 class="modaltitle" id="staticBackdropLabel">Trace Log</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button> 
      </div>
      <div class="modalbody">
        <h4 class="modaltitle" id="staticBackdropLabel"> Admin Log</h4>
        <table>
          <thead>
          <tr>
            <th>Entry By</th>
            <th>Event</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ali</td>
            <td>View Order Details</td>
            <td>05:25 AM</td>
          </tr>
          <tr>
            <td>Ali</td>
            <td>View Order Details</td>
            <td>05:25 AM</td>
          </tr>
        </tbody>
      </table>
      <h4 class="modaltitle" id="staticBackdropLabel">Auto assign Log</h4>
      <table>
        <thead>
        <tr>
          <th>Action</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Search in radius 100m</td>
          <td>05:25 AM</td>
        </tr>
        <tr>
          <td>1 Driver found.</td>
          <td>05:25 AM</td>
        </tr>
        <tr>
          <td>Notification send to Muhanmmad</td>
          <td>05:25 AM</td>
        </tr>
      </tbody>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" data="modal">Save Change</button>
      </div>
    </div>
  </div>
</div>

<script>
  function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 33.69436013654506, lng: 73.01065077441409}, // Coordinates for KFC
          zoom: 15
      });

      var marker = new google.maps.Marker({
          position: {lat: 33.69436013654506, lng: 73.01065077441409},
          map: map,
          title: 'KFC'
      });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>


<script>
  function formatTime(dateTimeString) {
    // Check if dateTimeString is null or empty
    if (!dateTimeString) {
      return "null"; // Return "null" if dateTimeString is null or empty
    }

    // Parse the date string
    const dateTime = new Date(dateTimeString);
    
    // Extract hours, minutes, and AM/PM
    let hours = dateTime.getHours();
    const minutes = dateTime.getMinutes();
    const period = hours >= 12 ? 'PM' : 'AM';
  
    // Convert hours to 12-hour format
    hours = hours % 12;
    hours = hours ? hours : 12; // Handle midnight (0 hours)
  
    // Pad minutes with leading zero if needed
    const paddedMinutes = minutes < 10 ? '0' + minutes : minutes;
  
    // Construct formatted time string
    const formattedTime = `${hours}:${paddedMinutes} ${period}`;
  
    return formattedTime;
  }
</script>